h1, h2 {
    text-align: center;
}
body {
    padding: 0 2em 0;
}

main {
    padding: 2% 6% 2%;
    margin: auto;
    background-color: rgb(224, 224, 224);
    border-radius: 2%;
}

img#sheldon {
    display: block;
    margin: auto;
    width: 30%;
}

.tab { 
    text-indent: 40px; 
    text-align: justify;
}